<div class="container">
    <div class="card" routerLink="/admin/allcandidate">
        <h3>Total Candidate</h3>
        <p>{{allCnadidate?.length}}</p>
    </div>
    <!-- <div class="card" routerLink="/admin/registrationlist">
        <h3>Candidate</h3>
        <p>{{reg_data?.length}}</p>
    </div> -->
    <div class="card" routerLink="/admin/empregistrationlist">
        <h3>Total Employee</h3>
        <p>{{emp_data?.length}}</p>
    </div>
    <div class="card" routerLink="/admin/reportslist">
        <h3>Reports</h3>
        <p>4</p>
    </div>
</div>